<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>Servlet.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>Servlet.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajax_proceso</servlet-name>
        <servlet-class>Servlet.ajax_proceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_venta</servlet-name>
        <servlet-class>Servlet.Registrar_venta</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/agregarproducto</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/borraritem</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ajax_proceso</servlet-name>
        <url-pattern>/ejecuciondeajax</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Registrar_venta</servlet-name>
        <url-pattern>/Registrar_venta</url-pattern>
    </servlet-mapping> 
   
    
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
